<h1>Inbox</h1>

<table class="table table-hover">
<thead>
    <tr>
     
      <th>Messages</th>
  </thead>

  <tbody>
<% @conversations.each do |conversation| %>
<tr>

    <td><%= link_to conversation.subject, conversation_path(conversation) %></td>
  </tr>
  <% end %>
  </tbody>
</table>


