/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//@import 'normalize';

@import 'bootstrap';


$dark: #424652;
$white: #FFFFFF;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #E9E9E9;



*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	line-height: 3rem;
	color: #737373;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	width: 90%;
	height: 95%;
}

.wrapper{
    width:70%;
    margin: 0 auto;
}

.skinny_wrapper{
    width: 80%;
    max-width: 760px;
    margin: 0 auto;
}

.wrapper_padding{
    padding: 4rem 0;
}

.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}

.clearfix:after{
    clear: both;
}

h1,h2,h3,h4,h5,h6,p,ul,li{
    color: $dark;
}

table{
    padding: 35px;
    width: 80%;
}

.scope{
    width: 80%;
}
.navbar-header:hover{
    
    font-size: 2rem;
    border-radius: 10px;
   opacity: 0.2;
   color: white;
}

form, message_inbox {
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: auto;
  position: relative;
  width: 550px;
  height: 100%;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}




.fb-like{
    width: 5%;
}












